{% extends "base.html" %}

{% block content %}

    <div style="border-radius: 1rem; margin: 2rem; text-align: center;">
        <h1 class="oswald_semibold">
            test!
        </h1>
        <form action="/account/base/" method="post">
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="POST">
            </div>
        </form>
        {% if test_list %}
            {% for test_object in test_list %}
            <h4>
                {{ test_object.text }}
            </h4>
            {%  endfor %}
        {% endif %}
    </div>

{% endblock %}
