{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="text-align: center; max-width: 500px; margin: 4.0rem auto;">
            <p>
                {{ target_user.date_joined }}
            </p>

            {% if target_user.profile %}

                <h2 style="font-family: 'MaruBuri-Light'">
                    {{ target_user.profile.nickname }}
                </h2>
                {% else %}
                <a href="{% url 'profileapp:create' %}">
                    create profile
                </a>

            {% endif %}

            {% if target_user == user %}

                <a href="{% url 'account:update' pk=user.pk %}">
                    change info
                </a>

            {% endif %}

            {% if target_user == user %}

                <a href="{% url 'account:delete' pk=user.pk %}">
                    quit
                </a>

            {% endif %}
        </div>
    </div>
{% endblock %}
