{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="text-align: center; max-width: 500px; margin: 4.0rem auto;">
            <p>
                {{ target_user.date_joined }}
            </p>

            <img src="{{ target_user.profile.image.url }}" alt=""
                 style="height:10.0rem; width: 8.0rem; border-radius: 10.0rem">

            {% if target_user.profile %}
                <h2 style="font-family: 'maruburi-light'">
                    {{ target_user.profile.nickname }}
                </h2>
                <h3 style="font-family: 'maruburi-light'">
                    {{ target_user.profile.message }}
                </h3>
                {% if target_user == user %}
                    <a class="material-icons"
                       href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                    edit
                    </a>
                {% endif %}
            {% else %}
                {% if target_user == user %}
                    <a href="{% url 'profileapp:create' %}">
                        create profile
                    </a>
                {% else %}
                    <h2>닉네임 미설정</h2>
                {% endif %}
            {% endif %}

            {% if target_user == user %}
                <a class="material-icons" href="{% url 'account:update' pk=user.pk %}">
                    account_circle
                </a>
            {% endif %}

            {% if target_user == user %}
                <a class="material-icons" href="{% url 'account:delete' pk=user.pk %}">
                    person_off
                </a>
            {% endif %}
        </div>

        <div>
            {% include 'snippets/list_fragment.html' with article_list=object_list %}
        </div>
    </div>
{% endblock %}
