/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 700 */

.oswald_semibold {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.oswald_light {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.pragmatic_footer {
    font-family: 'Oswald';
    margin-top: 2.0rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.pragmatic_footer_logo {
    margin-top: 1.0rem;
}

.pragmatic_footer_button {
    font-size: 1.0rem;
}

.pragmatic_header {
    font-family: 'Oswald';
    margin: 2.0rem 0;
    text-align: center;
}

.pragmatic_header_nav {
    margin: 0 0.5rem;
    color: black;
    text-decoration: none;
}

.pragmatic_header_nav_bar {
    margin: 1rem 0
}

@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:black;
    text-decoration: none;
}
